<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
<link rel="shortcut icon" href="./ico.png" type="image/png" />
<title>public Blog|Blog app</title>
<style>
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@200;300;400&display=swap');

* {
font-family: "Rubik", sans-serif;
-webkit-tap-highlight-color: transparent;
}
body {
background-color: whitesmoke;
}
</style>
</head>
<body>
<div class="shadow-lg bg-white">
<div class="container sm:px-0 mx-auto py-6 px-4">
<div class="w-full flex items-center justify-between">
<a href="/" class="text-red-500 text-xl font-bold flex items-center"><span class="material-symbols-outlined">
edit_note
</span> Blog App</a>
<div class="flex items-center space-x-6">
<a class="text-sm text-gray-600 hover:text-black" href="/">Private</a>
<div class="flex items-center text-gray-600 text-sm"></div>
</div>
</div>
</div>
</div>
<form method="POST" action="/search-in-public" class="relative container flex items-center sm:px-0 mx-auto py-3 px-4">
<input name="search" class="text-gray-600 mt-4 max-w-md w-full py-2 pl-12 pr-4 rounded-full outline-none border-2" type="text" placeholder="Search Blogs here..." autocomplete="off">
<span class="absolute material-symbols-outlined text-gray-600 top-10 right-2/6 ml-4">
search
</span>
</input>
</form>
<div class="container grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-4 gap-4 items-center py-4 px-4 mx-auto sm:px-0 mb-12">

{{#each data}}
{{#if ../data.length}}
<div class="overflow-hidden bg-whitemax-w-sm shadow-lg p-4 text-xl rounded-lg {{color}}">
<a href="/view/{{slug}}"><h1 class="font-bold text-lg capitalize">{{title}}</h1>
<p class="text-gray-800 text-sm mt-2">
{{desc}}
</p>
</a>
<div class="flex mt-2 items-center justify-between">
<p class="text-sm text-gray-600">
{{date}}
</p>

<p class="text-sm text-gray-500 flex items-center">
<span class="mr-2 material-symbols-outlined">
account_circle
</span>  {{author}}
</p>

</div>
</div>
{{/if}}
{{else}}
<h1 class="text-center text-xl text-gray-500">
    No Public notes Found
</h1>
{{/each}}

</div>
<a href="/new_note"><div class="fixed bottom-5 right-5 rounded-full flex shadow-lg transition duration-150 ease-out items-center justify-center text-2xl font-bold w-12 h-12 bg-black text-white">
+
</div>
</a>

<script>

</script>
<script>
tailwind.config = {
theme: {
extend: {
colors: {
myPink: "#FF7396",
myRed: '#8CC0DE',
myYellow: "#FFC54D",
myWhite: "#FAF5E4"
}
}
}
}
</script>
</body>
</html>